<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507820853335-445rgnn28977uucpk43f9auf4vm1bgj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507820853335-445rgnn28977uucpk43f9auf4vm1bgj7</string>
	<key>API_KEY</key>
	<string>AIzaSyA4q37-6vvFeDNgSVgYpaDKzdmLDaVOrmk</string>
	<key>GCM_SENDER_ID</key>
	<string>507820853335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFireBug1</string>
	<key>PROJECT_ID</key>
	<string>example-fe65a</string>
	<key>STORAGE_BUCKET</key>
	<string>example-fe65a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507820853335:ios:239df34ce93d377518bb12</string>
</dict>
</plist>